.container3{
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    flex-shrink: 0;
    position: relative;
    overflow-x: hidden;
}
.projectContainer{
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
}
 .project{
    
    transition: .5s;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.project .subContainer{
    flex-grow: 2;
    margin: 2rem;
    max-height: 30%;
}
 .project .subContainerImg{
    flex-grow: 1;
    align-self: center; 
    position: relative; 
}
.subContainerImg a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(88, 213, 255, 0.359);
}

 .subContainerImg img {
    border-radius: 10px;
   width: 70%;
   box-shadow: 0px 10px 15px 2px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px 0px rgba(0,0,0,0.1);
    margin-left:2rem ; 
}

.subContainer h2{   
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
    color: rgb(255, 255, 255);
}
.subContainer p{
   
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #ffffff;
    margin-bottom: 1rem;
    font-size: large;
    font-weight: bold;
}
.bar{
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100px;
    height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
  
  
  
}
.bar a{
    text-decoration: none;
    height: 100%;
    width: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    transition: .5s;
}
.activeBar{
    transform: scale(1.2) translateY(-10px);
}

.stopScroll{
    overflow: hidden;
}
